/* 
*reset pagination
*/

.pagination{
    --uiPaginationItemPadding: var(--paginationItemPadding, 5px 8px);
    --uiPaginationItemBorderRadius: var(--paginationItemBorderRadius);
    --uiPaginationItemTextColor: var(--paginationItemTextColor, inherit);
    --uiPaginationItemActiveTextColor: var(--paginationItemActiveTextColor);  
    --uiPaginationItemActiveBgColor: var(--paginationItemActiveBgColor);
    --uiPaginationItemActiveBorderColor: var(--paginationItemActiveBorderColor, transparent);
    --uiPaginationItemFontWeight: var(--paginationItemFontWeight, 700);
    --uiPaginationArrowIndent: var(--paginationArrowIndent, 4px);
    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .pagination-number-active{
    font-weight: var(--uiPaginationItemFontWeight);
  }
  
  .pagination-control.prev{
    margin-left: var(--uiPaginationArrowIndent);
  }
  
  .pagination-control.next{
    margin-right: var(--uiPaginationArrowIndent);
  }
  
  .pagination-number{
    display: inline-block;
    line-height: 1;
    padding: var(--uiPaginationItemPadding);
    
    border: 2px solid transparent;
    border-radius: var(--uiPaginationItemBorderRadius);
    
    text-decoration: none;
    color: var(--uiPaginationItemTextColor);
  }
  
  .pagination-number:focus{
    outline-color: var(--uiPaginationItemActiveBgColor);
  }
  
  .pagination-number-active{
    border-color: var(--uiPaginationItemActiveBorderColor);
    background-color: var(--uiPaginationItemActiveBgColor);
    color: var(--uiPaginationItemActiveTextColor);
  }
  
  /*
  * demo styles for pagination
  */
  
  .pagination{
    --paginationItemActiveBgColor: #4557bb;
    --paginationItemTextColor: #0094d9;
    --paginationItemActiveTextColor: #fff;
    
    justify-content: center;
  }
  
  .pagination-circle{
    --paginationItemBorderRadius: 50%;
  }
  
  @media screen and (max-width: 640px){
  
    .pagination-item{
      display: none;
    }
  
    .pagination-item:first-child, .pagination-item:nth-child(2),
    .pagination-item:nth-child(3), .pagination-item:nth-child(4),
    .pagination-item:nth-child(5), .pagination-item:last-child{
      display: inline-block;
    }
  
    .pagination-control{
      display: none;
    }
  }
  
  /*
  * demo page
  */
  
  @media screen and (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media screen and (max-width: 767px){
  
    html{
      font-size: 50%;
    }
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Open Sans", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    color: #222;
    background-color: #f0f0f0;
    margin: 0;
    -webkit-overflow-scrolling: touch;   
  }
  
  .page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .page-demo{
    flex-grow: 1;
  }
  
  .main-container{
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
  
    padding-left: 1rem;
    padding-right: 1rem;
  
    margin-right: auto;
    margin-left: auto;
  }
  
  .page-container{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .demo{
    position: relative;
    padding: 5rem 3rem;
    background-color: #fff;
  }
  
  .demo:not(:first-of-type){
    margin-top: 5rem;
  }
  
  .demo-label{
    position: absolute;
    top: 8px;
    left: 0;
    
    font-weight: 700;
    margin: 0 0 1.5rem 1.5rem;
    font-size: 1.8rem;
  }
  
  .footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;  
    font-size: 1.4rem;
  }
  
  .footer-link{
    color: #222;
    text-decoration: none;  
  }
  
  @media screen and (min-width: 641px){
  
    .footer-container{
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 640px){
  
    .melnik909{
      display: none;
    } 
  }